[Unit]
Description=Flask ML Dashboard
After=network.target

[Service]
User=almalinux
Group=almalinux
WorkingDirectory=/home/almalinux/dashboard
ExecStart=/home/almalinux/dashboard-venv/bin/python3 /home/almalinux/dashboard/app.py
Restart=always

[Install]
WantedBy=multi-user.target